<div class="col-sm-3 mb-3 mb-sm-0">
  <div class="card" style="position: relative;">
    <div class="card-body" {{action "view" @agent on="click"}}>
      <p class="card-title">Agent Name: {{@agent.name}}</p>
      <p class="card-text">Alias: {{@agent.user_name}}</p>
      <p class="card-text">Email: {{@agent.email}}</p>
      <p class="card-text">Team: {{@agent.team}}</p>
      <p class="card-text">Phone Number: {{@agent.phone_number}}</p>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
